@inherits UmbracoViewPage<LeBlenderModel>
@using Lecoati.LeBlender.Extension.Models
@using BaseSite.Web.Models.ComponentModels

@foreach (var item in Model.Items)
{
    @renderCarousel(item)
}

@helper renderCarousel(LeBlenderValue content)
{
    var carousel = content.GetValue<IEnumerable<IPublishedContent>>("carousel");
    <div class="grid-factbox">
        @Html.Partial(
        "Components/_CarouselWithText",
        new CarouselViewModel
        {
            Carousel = carousel,
            GridSize = 6,
            ImageHeight = 400,
            ImageHeightMobile = 250
        })
    </div>
}